<div style="display: block;
text-align: center;">
<h2>Sign Up:</h2>
<br>

<form name="signupForm" novalidate>

    First name:
    <input type="text" name="firstname" placeholder="Enter first name" 
           ng-model="signup.firstname" required minlength="1"
           ng-maxlength="20" style="color: black"></input>
    <br>
    <span style="color: red"
        ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.required) && signupForm.firstname.$touched">
        First Name must be at least 1 character long.
    </span>
    <span style="color: red" ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
        First Name must not be longer than 20 characters.
    </span>

    <br>
    <br>
    Last name:
    <input type="text" name="lastname" placeholder="Enter last name" 
           ng-model="signup.lastname" required minlength="1"
           ng-maxlength="20" style="color: black"></input>
    <br>
    <span style="color: red"
        ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.required) && signupForm.lastname.$touched">
        Last Name must be at least 1 character long.
    </span>
    <span style="color: red" ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
        Last Name must not be longer than 20 characters.
    </span>

    <br>
    <br>
    Email Address:
    <input type="email" name="email" placeholder="Email handle@domain" 
           ng-model="signup.email" required style="color: black"></input>
    <br>
    <span style="color: red" ng-if="signupForm.email.$invalid && signupForm.email.$touched">
        Must be a valid email address: handle@domain format
    </span>

    <br>
    <br>
    Phone Number:
    <input type="text" name="phone" placeholder="Phone ###-###-####" 
           ng-model="signup.phone" pattern="(\d{3})-(\d{3})-(\d{4})" required style="color: black"></input>
    <br>
    <span style="color: red" ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
        Phone must be in the format ###-###-####.
    </span>

    <br>
    <br>
    Favorite Dish:
    <input type="text" name="favoriteDish" placeholder="Enter menu number" 
           ng-model="signup.favoriteDish" required style="color: black" ng-change="signup.checkDish()"></input>
    <br>
    <span style="color: red"
        ng-if="!signup.favoriteDishExists">
        No such menu number exists.
    </span>

    <br>
    <br>
    <button style="color: black"
        type="button" class="btn"
        ng-disabled="signupForm.$invalid || !signup.favoriteDishExists"
        ng-click="signup.submit()">Submit
    </button>

    <br>
    <span style="color: green"
        ng-if="signup.savedSuccessfully">
        Your information has been saved.
    </span>
</form>
</div>
