/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Chalkboard;

}
h1 {
  margin-bottom: 15px;
  text-align: center;
  padding: 20px;
}

#chicken{
	color: black;
	background-color: rgba(241, 142, 158, 0.87);
}

#beef{
	color: white;
	background-color: rgb(175, 83, 83);
}

#sushi{
	color: black;
	background-color: rgb(245, 231, 156);
}

div div p:nth-child(1)
{
	float: right;
	text-align: center;
	width: 120px;
  	height: 30px;
	border: 1px solid black;
	font-size: 22px;
	padding: 0px;
}

p{
	clear: right;
	overflow: auto;
	padding: 10px;
}

div div {
	background-color: gray;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop version **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3{
    float: left;
    border: 1px solid black;
  } 
  .col-lg-1 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 33.33%;
  }
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3{
    float: left;
    border: 1px solid black;
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 50%;
  }
  .col-md-3 {
    width: 100%;
  }
}

