
/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/*title styling*/
h1.menu {
  margin-bottom: 15px;
  text-align: center;
  padding: 20px;
  font-size: 1.75rem;
}

h1.categories{
  display:none;
}

/*Section title common styling*/
div div p:nth-child(1)
{
  background-color: #4056A1;
  color: #C5CBE3;
	float: right;
	text-align: center;
	width: 120px;
  display: inline-block;
	border: 1px solid black;
	font-size: 1.25rem;
  padding: 0px;
}

div div p:nth-child(2)
{
  display: none;
}

/*Fake text paragraph styling*/
p{
	clear: right;
  padding: 10px;
}

/*set background for entire div*/
.col {
  background-color: #C5CBE3;
  height: 300px;
  overflow: hidden;
}

/*hover style for hovering over section*/
.col:hover { 
  overflow: scroll;
  overflow-y: scroll;
  cursor: ns-resize;
}




body{
  background-color: rgb(123, 219, 243);
  font-family: Chalkboard;
  color: rgb(17, 17, 1)
}

#header-nav{
  background-color: #4056A1;
  border-radius: 0;
  border: 0;
}

.navbar-brand{
  font-size: 2em;
}

a { 
  color: #C5CBE3;
  text-shadow: 1px 1px 1px rgb(37, 32, 2);
}

a:hover, a:focus{
  color:  #C5CBE3;
  text-decoration: none;
}

#nav-list{
  text-align: center;
}

#nav-list > li > a{
  color: #C5CBE3;
  text-shadow: 1px 1px 1px rgb(37, 32, 2);
  font-size: 1.5em;
}

#nav-list > li > a:hover{
  color:rgb(123, 219, 243);
  text-shadow: 1px 1px 1px rgb(37, 32, 2);
}