
/*Main page styling*/
body{
  background-color: rgb(123, 219, 243);
  font-family: Chalkboard;
  color: rgb(17, 17, 1)
}

/*Main Header Styling*/
h1.menu {
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.75rem;
}

/*Navbar Styling*/
#header-nav{
  background-color: #4056A1;
  border-radius: 0;
  border: 0;
}
.navbar-brand{
  font-size: 2em;
}
a { 
  color: #C5CBE3;
  text-shadow: 1px 1px 1px rgb(37, 32, 2);
}
a:hover, a:focus{
  color:  #C5CBE3;
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #C5CBE3;
}

/*Navbar Menu List Styling*/
#nav-list{
  text-align: center;
}
#nav-list > li > a{
  color: #C5CBE3;
  text-shadow: 1px 1px 1px rgb(37, 32, 2);
  font-size: 1.5em;
}
#nav-list > li > a:hover{
  color:rgb(123, 219, 243);
  text-shadow: 1px 1px 1px rgb(37, 32, 2);
}

/*Home Tiles Styling*/
#home-tiles{
  background-color: #C5CBE3;
  height: 600px;
  width: 100%;
  margin-bottom: 15px;
  position:relative;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgb(71, 71, 71);
}
#home-tiles{
  overflow: scroll;
  overflow-y: scroll;
  cursor: ns-resize;
}
#home-tiles h3{
  background-color: #4056A1;
  color: #C5CBE3;
  border: 1px solid black;
  margin: 0px;
}
#home-tiles p{
  padding: 5px;
}

/*Footer Styling*/
.panel-footer{
  background-color: #4056A1;
  border: 1px solid black;
  position: relative;
  right:0;
  bottom:0;
}
.panel-footer a{
  color: #C5CBE3;
}